<a href="https://colab.research.google.com/github/Lullabyoo/Projects/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = '79c05eac-dadd-4fc9-be16-acdb5c068bb9'
resource_group = 'skh-ml-rg049'
workspace_name = 'SKH-ML-WS049'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='POSTING_EARTH_HISTORY')
history_df=dataset.to_pandas_dataframe()

ModuleNotFoundError: ignored

In [5]:
#각 IDX에 해당하는 생물에 대한 각기 다른 질문과 값이 포함된 df
history_df

NameError: ignored

In [6]:
history_df.RESCH_2_Q.value_counts()
#2. 귀화식물을 발견한 곳은 어떤 곳인가요? (다중 선택 가능)                             14337
#2. 새를 탐사한 장소는 어디인가요? (다중 선택 가능)                                  9324
#2. 화분매개자를 어디에서 발견했나요? (다중 선택 가능)                                 8527    ...

NameError: ignored

In [ ]:
history_df.RESCH_3_Q.value_counts()
#3. 귀화식물 종류와 수를 적어주세요.                                                14337
#3. 관찰한 새 종류와 수를 적어주세요. (관찰 도중 보였던 새의 ‘최대 수’를 적어주세요.)                  9324
#3. 중요! 화분매개자 종류와 수를 기록해 주세요.                                          8527    ...

In [ ]:
history_df.RESCH_4_Q.value_counts()
#4. 탐사한 식물은 무엇인가요?                                       5640
#4. 녹음을 한 시간은 몇 시였나요?                                    4269
#4. 거미가 어떤 행동을 하고 있었나요?(다중 선택 가능)                        3296     ...

In [ ]:
history_df.RESCH_5_Q.value_counts()
#5. 탐사한 식물의 개화 상태는 어떤가요?               5640
#5. 그 외 관찰하면서 특이한 것을 보았다면 적어 주세요.      3048
#5. 나비의 초점을 맞춰 사진 또는 동영상을 촬영해 주세요.     2720                   ...

In [ ]:
# azureml-core of version 1.0.72 or higher is required
# azureml-dataprep[pandas] of version 1.1.34 or higher is required
from azureml.core import Workspace, Dataset

subscription_id = '79c05eac-dadd-4fc9-be16-acdb5c068bb9'
resource_group = 'skh-ml-rg049'
workspace_name = 'SKH-ML-WS049'

workspace = Workspace(subscription_id, resource_group, workspace_name)

dataset = Dataset.get_by_name(workspace, name='POSTING_MASTER')
posting_df=dataset.to_pandas_dataframe()

In [ ]:
# 데이터 확인
posting_df.head()

In [ ]:
posting_df.info()

In [ ]:
#null값 
posting_df.isnull().sum()

In [ ]:
#매미 값만 추출
posting_cicada=posting_df[posting_df['CATEGORY']=='매미']
posting_cicada.info()

In [ ]:
#정수형으로 변환환
posting_cicada['IDX']=posting_cicada.IDX.astype('int')

In [ ]:
posting_cicada.info()

In [ ]:
#데이터 합치기
merge_df=pd.merge(posting_cicada, history_df, left_on='IDX', right_on='POSTING_IDX', how='left')
merge_df

In [ ]:
#옵션 영역 설정(설정한 옵션으로 명령어 실행 후 기존 설정값으로 롤백: with 이하의 블록만)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(merge_df.isnull().sum())

In [ ]:
merge_df['RESCH_1_Q'].value_counts()
#1. 촬영한 자료가 무엇인가요? (다중 선택 가능)                         3524
#1. 자신이 살고 있는 곳과 가까운 탐사할 장소를 정하고, 한 장소에서만 탐사해 주세요.    2649
#Name: RESCH_1_Q, dtype: int64

In [ ]:
merge_df['RESCH_2_Q'].value_counts()
#Output menu
#2. 매미를 어디에서 발견했나요? (다중 선택 가능)    3524
#2. 탐사하는 장소는 어떤 곳인가요?             2649
#Name: RESCH_2_Q, dtype: int64

In [ ]:
merge_df[merge_df['RESCH_1_Q']=="1. 촬영한 자료가 무엇인가요? (다중 선택 가능)"]['RESCH_1']
#3561    동영상,사진
#3562        사진
#3563        사진
#3564       동영상            ...

In [ ]:
merge_df[merge_df['RESCH_2_Q']=="2. 매미를 어디에서 발견했나요? (다중 선택 가능)"]['RESCH_2'].value_counts()
#도심            1606
#숲              462
#도심,공원          436
#공원             374
#도심,숲           195
#도심,숲,공원        138
#숲,공원           133            ...

In [ ]:
#값 넣기
merge_df.loc[merge_df['RESCH_2_Q']=="2. 매미를 어디에서 발견했나요? (다중 선택 가능)",'place']=merge_df[merge_df['RESCH_2_Q']=="2. 매미를 어디에서 발견했나요? (다중 선택 가능)"]['RESCH_2']

In [ ]:
#장소를 나타내는 열 값 빼기
merge_df=merge_df.dropna(subset=['place'])

In [ ]:
merge_df[merge_df['RESCH_2_Q']=="2. 탐사하는 장소는 어떤 곳인가요?"]['RESCH_2']

In [ ]:
merge_df.loc[merge_df['RESCH_2_Q']=="2. 탐사하는 장소는 어떤 곳인가요?",'place']=merge_df[merge_df['RESCH_2_Q']=="2. 탐사하는 장소는 어떤 곳인가요?"]['RESCH_2']

In [ ]:
merge_df['place'].value_counts()

In [ ]:
#null값 있는지 확인 - 0으로 확인 완료
merge_df['place'].isnull().sum()

In [ ]:
merge_df.loc[merge_df['place'].str.contains('공원', na=False),'place_park']=1 #posting_master에는 있지만 posting_earth_history에는 없는 데이터들 NaN
merge_df.loc[~merge_df['place'].str.contains('공원', na=False),'place_park']=0

In [ ]:
merge_df.loc[merge_df['place'].str.contains('도심', na=False) | merge_df['place'].str.contains('주거 단지', na=False),'place_downtown']=1
merge_df.loc[~merge_df['place'].str.contains('도심', na=False) & ~merge_df['place'].str.contains('주거 단지',na=False),'place_downtown']=0

In [ ]:
merge_df.loc[merge_df['place'].str.contains('숲', na=False),'place_forest']=1
merge_df.loc[~merge_df['place'].str.contains('숲', na=False),'place_forest']=0

In [ ]:
merge_df.loc[merge_df['place'].str.contains('농경지', na=False),'place_farmland']=1
merge_df.loc[~merge_df['place'].str.contains('농경지', na=False),'place_farmland']=0

In [ ]:
merge_df.loc[merge_df['place'].str.contains('습지', na=False),'place_marsh']=1
merge_df.loc[~merge_df['place'].str.contains('습지', na=False),'place_marsh']=0

In [ ]:
#혹시라도 있을 결측치 확인하기 위해 작업업
merge_df.loc[merge_df['place'].isnull(),'place_park']=np.nan
merge_df.loc[merge_df['place'].isnull(),'place_downtown']=np.nan
merge_df.loc[merge_df['place'].isnull(),'place_forest']=np.nan
merge_df.loc[merge_df['place'].isnull(),'place_farmland']=np.nan
merge_df.loc[merge_df['place'].isnull(),'place_marsh']=np.nan

In [ ]:
merge_df.place_park.isnull().sum()
# 결괏값: 0으로 결측치 없음을 확인

In [1]:
merge_df['RESCH_3_Q'].value_counts() 
# 3. 오늘 소리를 들은 매미를 모두 선택하세요. (다중 선택 가능)           3524
# 3. 탐사 장소가 언제 지어졌는지 또는 언제 재개발되었는지 연도를 적어 주세요.    2649
# Name: RESCH_3_Q, dtype: int64

SyntaxError: ignored

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
     print(merge_df[merge_df['RESCH_3_Q']=="3. 오늘 소리를 들은 매미를 모두 선택하세요. (다중 선택 가능)"]['RESCH_3'].value_counts())
# #참매미                              801
# 말매미                              591
# 참매미,말매미                          362
# 애매미                              353
# 기타 (아래에 써 주세요.)                  281
# 털매미                               91           ...

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
     print(merge_df[merge_df['RESCH_3_Q']=="3. 오늘 소리를 들은 매미를 모두 선택하세요. (다중 선택 가능)"]['WRITE_TIME'].value_counts())
# #2018.8.11 20:00     12
# 2018.7.29 19:53     10
# 2018.7.28 19:56      6

In [ ]:
merge_df[merge_df['cicada_type']=='참매미,말매미,애매미,쓰름매미,유지매미,털매미']['POSTING_IDX']
# 5344    149741.0
# 5346    149745.0
# 6472    153499.0
# Name: POSTING_IDX, dtype: float64

In [ ]:
merge_df.loc[merge_df['RESCH_3_Q']=="3. 오늘 소리를 들은 매미를 모두 선택하세요. (다중 선택 가능)",'cicada_type']=merge_df['RESCH_3']

In [ ]:
merge_df.loc[merge_df['RESCH_4_Q']=="4. 오늘 발견한 매미를 모두 선택하세요. (다중 선택 가능)",'cicada_type']=merge_df['RESCH_4']

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
     print(merge_df[merge_df['RESCH_4_Q']=="4. 오늘 발견한 매미를 모두 선택하세요. (다중 선택 가능)"]['WRITE_TIME'].value_counts())
#Series([], Name: WRITE_TIME, dtype: int64)

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
     print(merge_df[merge_df['RESCH_4_Q']=="4. 오늘 발견한 매미를 모두 선택하세요. (다중 선택 가능)"]['WRITE_TIME'].value_counts())
# 2020.8.19 14:54     2
# 2021.8.1 9:07       2
# 2021.7.30 15:13     2           ...

In [ ]:
merge_df[merge_df['cicada_type']=='참매미,말매미,애매미,쓰름매미,유지매미,기타 (아래에 써 주세요.)']

In [ ]:
ccd_tp1=merge_df[(merge_df['cicada_type'] =='참매미')|(merge_df['cicada_type'] =='말매미')|(merge_df['cicada_type'] =='애매미')|(merge_df['cicada_type'] =='털매미')|
(merge_df['cicada_type'] =='늦털매미')|(merge_df['cicada_type'] =='쓰름매미')|(merge_df['cicada_type'] =='유지매미')|(merge_df['cicada_type'] =='소요산매미')]
ccd_tp1

In [ ]:
ccd_tp1['cicada_type'].dropna(inplace=True)

In [ ]:
sns.histplot(data=ccd_tp1, x='cicada_type')

In [ ]:
ccd_tp1['WRITE_TIME']=pd.to_datetime(ccd_tp1['WRITE_TIME'], format='%Y.%m.%d %H:%M')

In [ ]:
ccd_tp1['year']=ccd_tp1['WRITE_TIME'].dt.year
ccd_tp1['month']=ccd_tp1['WRITE_TIME'].dt.month

In [ ]:
plt.figure(figsize=(12, 9))
sns.countplot(data=ccd_tp1, x='year', hue='cicada_type')

In [ ]:
ccd_tp1.groupby()

In [ ]:
plt.figure(figsize=(12, 9))

sns.countplot(data=ccd_tp1, x='month', hue='cicada_type')