In [ ]:
pip install folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.12.1.post1)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.21.6)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import os
import webbrowser
import folium
from folium import plugins
print(folium.__version__)

0.12.1.post1

In [ ]:
state_geo = 'TL_SCCO_SIG_WGS84.json'

In [ ]:
import urllib.request
import json
import pandas as pd
import bs4

In [ ]:
import folium
m = folium.Map()

In [ ]:
folium.Map()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/df_merge3.csv')

In [ ]:
data = pd.read_csv('/content/df_merge3.csv')
fol = pd.DataFrame(data)
fol.head()

,IDX_x,EXPEDITION_NAME,CONTENTS,POS_ADDR,LATITUDE,LONGITUDE,WEATHER,TEMP,WIND_SPEED,HUMIDITY,...,털매미,소요산매미,말매미,유지매미,애매미,쓰름매미,늦털매미,기타,year,month
0,210191,지구사랑탐사대 8기,"<audio controls="""" src=""/upload/earth/2020/06/...",대한민국 강원도 영월군 영월읍 영흥리 1087,37.195652,128.454258,맑음,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2020.0,6.0
1,213433,지구사랑탐사대 8기,"<img style=""max-width:840px;width:100%;"" src=""...",대한민국 경기도 포천시 신북면 삼정리 148-1,37.974330,127.150596,구름 조금,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2020.0,6.0
2,213669,지구사랑탐사대 8기,"<img style=""max-width:840px;width:100%;"" src=""...",대한민국 경기도 가평군 가평읍 이화리 산256-2,37.798361,127.524768,맑음,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020.0,6.0
3,213767,지구사랑탐사대 8기,탐사일: 20. 06. 20.<br />탐사장소: 노을공원<br /><img sty...,대한민국 서울특별시 성북구 종암동 57-27,37.597499,127.030496,구름 조금,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020.0,6.0
4,216557,지구사랑탐사대 8기,"<audio controls="""" src=""/upload/earth/2020/06/...",대한민국 서울특별시 성내동 강동구청역1번출구.영파여고,37.532039,127.120848,조금 흐림,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2020.0,6.0

In [ ]:
fol['WEATHER'] = fol['WEATHER'].astype(str)

In [ ]:
fol = fol.astype(str)

In [ ]:
fol['POS_ADDR'].fillna('대한민국')

0           대한민국 강원도 영월군 영월읍 영흥리 1087
1          대한민국 경기도 포천시 신북면 삼정리 148-1
2         대한민국 경기도 가평군 가평읍 이화리 산256-2
3            대한민국 서울특별시 성북구 종암동 57-27
4       대한민국 서울특별시 성내동 강동구청역1번출구.영파여고
                    ...
6168    대한민국 인천광역시 옹진군 북도면 신도리 산331-1
6169       대한민국 인천광역시 옹진군 북도면 신도리 269
6170     대한민국 인천광역시 옹진군 북도면 신도리 270-2
6171     대한민국 인천광역시 옹진군 북도면 신도리 270-2
6172         대한민국 경기도 광주시 도척면 도웅리 산23
Name: POS_ADDR, Length: 6173, dtype: object

In [ ]:
locs = pd.DataFrame(fol['POS_ADDR'].apply(lambda v: v.split()[:3]).tolist(),
                        columns=('d1', 'd2','d3'))
locs.head()

     d1     d2   d3
0  대한민국    강원도  영월군
1  대한민국    경기도  포천시
2  대한민국    경기도  가평군
3  대한민국  서울특별시  성북구
4  대한민국  서울특별시  성내동

In [ ]:
locs = locs.drop(['d1'],axis=1)

In [ ]:
locs

         d2   d3
0       강원도  영월군
1       경기도  포천시
2       경기도  가평군
3     서울특별시  성북구
4     서울특별시  성내동
...     ...  ...
6168  인천광역시  옹진군
6169  인천광역시  옹진군
6170  인천광역시  옹진군
6171  인천광역시  옹진군
6172    경기도  광주시

[6173 rows x 2 columns]

In [ ]:
locs['d2'].unique()

array(['강원도', '경기도', '서울특별시', '충청북도', '충청남도', '대구광역시', '경상남도', '고양시',
       '성남시', '전라북도', None, '인천광역시', '전라남도', '-dong,', '안양시', '부산광역시',
       'Dae-ri,', '경상북도', '수원시', '속초시', '광주광역시', '예산군', '울산광역시', '부천시',
       '군산시', '제주특별자치도', '용인시', '포항시', '군포시', '이천시', '파주시', '대전광역시',
       '순천시', '익산시', 'Gwangjang-dong,', 'Daehyeon-dong,',
       'Jeongdongjin-ri,', 'Korea,', 'Gyeonso-dong,', 'Sadong-ri,',
       'Namseo-ri,', 'Ewhayeodae-gil,', 'du', 'Nogosan-dong,',
       'Daesin-dong,', 'Guun-dong,', 'Dunjeon-ri,', 'Itaewon-dong,',
       'Chome-7-1', '청주시', 'Chome-9-2', 'Chome-7-3', 'Odori,',
       'Naitōmachi,', '화성시', 'Wakugawa,', 'Jeongja', 'Sinchon-ro,',
       'Jongno', '하남시', '김천시', 'Senshūkūkōnaka,', '광주시', '남양주시', '수정구',
       '(Ssang-yong', '봉화군', 'Janghang-dong,', '포천시', '1337-23',
       'Samga-dong,', 'Pogong-ro', 'Amjeong-ri,', '四连依林荫道', '춘천시', '83-1',
       '아산시', '단양군', 'Sinhwa-ri,'], dtype=object)

In [ ]:
locs['d3'].unique()

array(['영월군', '포천시', '가평군', '성북구', '성내동', '충주시', '양평군', '서초구', '동작구',
       '용인시', '예산군', '종로구', '중랑구', '성남시', '수성구', '수원시', '창원시', '양천구',
       '강남구', '고양시', '장항동', '분당동', '서현동', '구리시', '서현2동', '강서구', '부여군',
       '양주시', '화곡동', '마포구', '부천시', '군산시', '강동구', '서초4동', '영등포구', '문래동3가',
       None, '평택시', '은평구', '동대문구', '함안군', '논현고잔동', '광주시', '순천시', '서초동',
       '광진구', '잠실3동', '송파구', '부평구', '남동구', '노원구', '하계동', '안양시', '개포2동',
       '193-4', '정자동', '도봉구', '평안동', '파주시', '부산진구', '전주시', 'Hwasun-eup,',
       '이천시', '중계4동', '경산시', '잠실2동', '중구', '수내3동', '암사1동', '평창군', '원주시',
       '화성시', '관악구', '강북구', '길음1동', '김포시', '신천동', '일원본동', '청도군', '용산구',
       '영통동', '계양구', '가락본동', '김제시', '중계동', '강릉시', '서천군', '속초시', '대포동',
       '내곡동', '홍천군', '해남군', '영통구', '성동구', '매탄2동', '광산구', '은행2동', '광명시',
       '의왕시', '보령시', '아현역', '태안군', '천안시', '영천시', '대흥동', '남양주시', '예산읍',
       '고덕동', '남구', '사천시', '성수동1가', '북구', '안성시', '구로구', '상3동', '목포시',
       '여의도동', '문경시', '후암동', '달서구', '도화동', '거제시', '장성군', '하남시', '아산시',
       '강화군', '동두천시', '양산시', '인제군', '군포시', '나운동', '광양시', '녹번동', '경주시',
       '이매동', '해운대구', '포항시', '제주시', '익산시', '상현동', '대화동', '효곡동', '동구',
       '성남동', '좌동', '진주시', '대치동', '무악동', '과천시', '산본동', '서대문구', '상대원1동',
       '그린빌리지', '잠실본동', '산청군', '삼척시', '합천군', '삼선동', '남영동', '서귀포시', '고성군',
       '의정부시', '울주군', '백사면', '목동', '공릉1동', '괴산군', '춘천시', '아동동', '서구',
       '창녕군', '울진군', '청양군', '연천군', '담양군', '은행1동', '청주시', '철원군', '유성구',
       '온천2동', '역곡동', '임실군', '연향동', '월롱면', '고창군', '수내2동', '어양동',
       'Gwangjin-gu,', '여주군', '광장동', 'Seodaemun-gu,', '가양1동',
       'Gangdong-myeon,', '대치2동', '괴안동', 'Seoul,', 'Gangneung,',
       'Ulleung-eup,', 'Seo-myeon,', '종암동', '중동', '군자동', 'Daehyeon-dong,',
       'Sud,', 'Mapo-gu,', '상동', '아현동', 'Gwonseon-gu,', '창신동', '수내동',
       '봉화군', '안동시', '단양군', '동해시', '안산시', '이촌동', '상도동', '정릉동', '죽전동',
       '돈암동', '이화동', '비산동', 'Pogog-eup,', '신도림동', 'Yongsan-gu,', '운서동',
       '권선동', '명륜3가동', '마두1동', '신안군', '삼산1동', '신촌동', 'Minatomirai,',
       '정선군', '수서동', '효성1동', 'Seongnam-si,', '창동', '용암동', 'Makishi,',
       '영동군', '용강동', 'Shinjuku-ku,', '수영구', '연제구', '능동', '고흥군', '만년동',
       'Nakijin-son,', '부안군', '평촌동', '귀인동', '3(sam)-dong,', '압구정동',
       'Nogosan-dong,', '대신동', '남해군', '한강로동', '행신동', '옥수동', '소사본3동',
       '1(il).2(i).3(sam).4(sa),', '홍성군', '일원2동', '중계1동', '시흥시', '금천구',
       '동탄2동', '신장2동', '야탑동', '종로5.6가동', '석수1동', 'Tajiri-chō,', '거창군',
       '부림동', '호계3동', '중계2.3동', '진안동', '염리동', '일산3동', '검암경서동', '도림동',
       '신림동', '연기군', '완주군', '호계동', '곤지암읍', '장충동', '주엽동', '계산동', '주엽2동',
       '상계동', '김천시', '울릉군', '주교동', '성사1동', '화천군', '달성군', '금정구', '기장군',
       '횡성군', '조안면', '산성동', '동탄면', '야탑3동', '백석1동', '일산1동', '신정6동', 'APT',
       '춘양면', '김해시', '통영시', '창우동', '금산군', 'Ilsandong-gu,', '소흘읍', '대덕구',
       '화정동', '사상구', '덕포1동', '죽전1동', '서초2동', 'Cheoin-gu,', '역삼2동',
       '210beon-gil,', '칠곡군', '성북동', 'Gimhwa-eup,', '삼성동', '영주시', '무주군',
       '반포동', '하동군', '구례군', '등촌1동', '서산시', '구미시', '후평2동', '대학동', '은행동',
       '오산시', '온천동', '구미동', '단양읍', '제천시', '연수구', 'Gangsang-myeon,', '송도동',
       '정읍시', '옹진군'], dtype=object)